<body>
<h1>Sign Up</h1>
<table class="center">
<thead>
   <%= form_for @user do |f|%>
   <th><%= f.label :username%></th>
   <th><%= f.text_field :username%></th>
   <tr>
   <td><%= f.label :password%></td>
   <td><%= f.password_field :password%></td>
   </tr>
   <tr>
   <td></td>
   <td> <%= f.submit %></td>
   </tr>
<%end%>
</table>
<%= button_to "Exit", '/welcome', method: :get%>

</body>